$font-primary: "Dosis", sans-serif;
$font-secondary: "Great Vibes", cursive;
$font-title: "Inria Serif", serif;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #203970 !default;
$brand-secondary: #705720 !default;
$brand-success: #58ca7e !default;
$brand-info: #1784fb !default;
$brand-warning: #fed330 !default;
$brand-danger: #fb4f59 !default;

$brand-white: #fff !default;
$brand-black: #000 !default;

$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;

// Mixin
@mixin transition($transition, $ease: ease) {
  -moz-transition: all $transition $ease;
  -o-transition: all $transition $ease;
  -webkit-transition: all $transition $ease;
  -ms-transition: all $transition $ease;
  transition: all $transition $ease;
}
@mixin fh5co-translate($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}
@mixin fh5co-translateY($translateY) {
  -moz-transform: translateX($translateY);
  -webkit-transform: translateX($translateY);
  -ms-transform: translateX($translateY);
  -o-transform: translateX($translateY);
  transform: translateX($translateY);
}
@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin icomoon() {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import
@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700|Great+Vibes|Inria+Serif&display=swap");
@import "bootstrap";
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "mixins";

body {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: lighten($brand-black, 50%);
  &.fh5co-overflow {
    overflow-x: hidden;
    width: 100%;
  }
}

a {
  color: $brand-primary;
  @include transition(0.5s);
  &:hover,
  &:focus,
  &:active {
    color: darken($brand-primary, 15%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  color: $brand-primary;
  margin-bottom: 40px;
  font-size: 40px;
  @media screen and (max-width: $screen-sm) {
    font-size: 30px;
  }
}
h3 {
  font-size: 30px;
  @media screen and (max-width: $screen-sm) {
    font-size: 20px;
  }
}
h4 {
  font-size: 20px;
  @media screen and (max-width: $screen-sm) {
    font-size: 15px;
  }
}
.heading {
  text-align: center;
  &:after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    width: 150px;
    height: 2px;
    margin-left: -75px;
    margin-top: 10px;
    background: $brand-primary;
  }
}
p {
  font-size: 20px;
  margin-bottom: 30px;
  @media screen and (max-width: $screen-sm) {
    font-size: 15px;
  }
}

// Buttons
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: $font-primary;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  @include border-radius(100px);
  @include transition(0.5s);
  &.btn-md {
    padding: 10px 20px !important;
  }
  &.btn-lg {
    padding: 18px 36px !important;
  }
  &:hover,
  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}
.btn-primary {
  background: $brand-primary;
  color: $brand-white;
  border: 2px solid $brand-primary;
  &:hover,
  &:focus,
  &:active {
    background: darken($brand-primary, 5%) !important;
    border-color: darken($brand-primary, 5%) !important;
  }
  &.btn-outline {
    background: transparent;
    color: $brand-primary;
    border: 2px solid $brand-primary;
    &:hover,
    &:focus,
    &:active {
      background: $brand-primary;
      color: $brand-white;
    }
  }
}
.btn-success {
  background: $brand-success;
  color: $brand-white;
  border: 2px solid $brand-success;
  &:hover,
  &:focus,
  &:active {
    background: darken($brand-success, 5%) !important;
    border-color: darken($brand-success, 5%) !important;
  }
  &.btn-outline {
    background: transparent;
    color: $brand-success;
    border: 2px solid $brand-success;
    &:hover,
    &:focus,
    &:active {
      background: $brand-success;
      color: $brand-white;
    }
  }
}
.btn-info {
  background: $brand-info;
  color: $brand-white;
  border: 2px solid $brand-info;
  &:hover,
  &:focus,
  &:active {
    background: darken($brand-info, 5%) !important;
    border-color: darken($brand-info, 5%) !important;
  }
  &.btn-outline {
    background: transparent;
    color: $brand-info;
    border: 2px solid $brand-info;
    &:hover,
    &:focus,
    &:active {
      background: $brand-info;
      color: $brand-white;
    }
  }
}
.btn-warning {
  background: $brand-warning;
  color: $brand-white;
  border: 2px solid $brand-warning;
  &:hover,
  &:focus,
  &:active {
    background: darken($brand-warning, 5%) !important;
    border-color: darken($brand-warning, 5%) !important;
  }
  &.btn-outline {
    background: transparent;
    color: $brand-warning;
    border: 2px solid $brand-warning;
    &:hover,
    &:focus,
    &:active {
      background: $brand-warning;
      color: $brand-white;
    }
  }
}
.btn-danger {
  background: $brand-danger;
  color: $brand-white;
  border: 2px solid $brand-danger;
  &:hover,
  &:focus,
  &:active {
    background: darken($brand-danger, 5%) !important;
    border-color: darken($brand-danger, 5%) !important;
  }
  &.btn-outline {
    background: transparent;
    color: $brand-danger;
    border: 2px solid $brand-danger;
    &:hover,
    &:focus,
    &:active {
      background: $brand-danger;
      color: $brand-white;
    }
  }
}

.btn-outline {
  background: none;
  border: 2px solid lighten($brand-black, 50%);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include transition(0.3s);
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
}

// Form Input Field
.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  color: $brand-primary;
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $brand-primary;
  }
  &::placeholder {
    color: lighten($brand-black, 50%);
  }
}
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 7px),
    calc(100% - 15px) calc(1em + 7px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  &:invalid {
    color: lighten($brand-black, 50%);
  }
}

.fh5co-page {
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

#fh5co-home {
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: inset -1px -11px 21px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -11px 21px -15px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -11px 21px -15px rgba(0, 0, 0, 0.75);
  position: relative;
  text-align: center;
  overflow: hidden;

  > .container {
    position: relative;
    z-index: 2;
  }

  .fh5co-copy {
    display: table;
    width: 100%;
  }
  .fh5co-copy-inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    h1 {
      margin: 0;
      padding: 0;
      text-align: center;
      color: $brand-white;
      font-family: $font-secondary;
      font-size: 110px;
      line-height: 1.2;
      text-shadow: 1px 1px 2px transparentize($brand-black, 0.4);
      @media screen and (max-width: $screen-sm) {
        font-size: 50px;
      }
    }
  }

  .save-the-date {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    bottom: -350px;
    @include translatingX();
    @include rounded-border();
    opacity: 0;
    -webkit-transition: 1s 2.3s ease-in-out;
    transition: 1s 2.3s ease-in-out;

    @include media-query(1199px) {
      width: 300px;
      height: 300px;
    }

    @include media-query(991px) {
      width: 270px;
      height: 270px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      @include rounded-border();
      z-index: -1;
    }

    &:before {
      background-color: transparentize($brand-primary, 0.6);
      width: 110%;
      height: 110%;
      left: -5%;
      top: -5%;
      -webkit-animation: save-the-date-pulse 1s infinite;
      animation: save-the-date-pulse 1s infinite;

      @include media-query(1199px) {
        width: 108%;
        height: 108%;
        left: -4%;
        top: -4%;
      }
    }

    &:after {
      background-color: transparentize($brand-primary, 0.3);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    h4 {
      font-family: $font-secondary;
      font-size: 40px;
      font-size: calc-rem-value(40);
      color: $brand-white;
      margin: 55px 0 0.2em;
      text-shadow: 1px 1px 2px transparentize($brand-black, 0.4);

      @include media-query(1199px) {
        font-size: 35px;
        font-size: calc-rem-value(35);
        margin: 45px 0 0.15em;
      }

      @include media-query(991px) {
        font-size: 28px;
        font-size: calc-rem-value(28);
        margin: 30px 0 0.15em;
      }
    }

    .date {
      font-size: 20px;
      font-size: calc-rem-value(20);
      color: $brand-white;
      text-shadow: 1px 1px 2px transparentize($brand-black, 0.4);

      @include media-query(1199px) {
        font-size: 18px;
        font-size: calc-rem-value(18);
      }

      @include media-query(991px) {
        font-size: 16px;
        font-size: calc-rem-value(16);
      }
    }
  }

  .popup-save-the-date {
    bottom: -195px;
    opacity: 1;
    z-index: 10;

    @include media-query(1199px) {
      bottom: -180px;
    }

    @include media-query(991px) {
      bottom: -170px;
    }
  }

  @-webkit-keyframes save-the-date-pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    50% {
      -webkit-transform: scale3d(0.95, 0.95, 0.95);
      transform: scale3d(0.95, 0.95, 0.95);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes save-the-date-pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    50% {
      -webkit-transform: scale3d(0.95, 0.95, 0.95);
      transform: scale3d(0.95, 0.95, 0.95);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
}

.fh5co-main-nav {
  position: relative;
  //background: $brand-white;
  background: $brand-secondary;
  &.fh5co-shadow {
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
    -ms-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
  }

  .fh5co-menu-1 {
    vertical-align: middle;
    width: 100%;
    float: left;
    line-height: 0;
    a {
      padding: 35px 0;
      margin-right: 30px;
      vertical-align: middle;
      color: #ccc;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
      font-weight: 400;
      @include inline-block;
      &:hover,
      &:focus,
      &:active {
        outline: none;
        text-decoration: none;
      }
      &.active {
        font-weight: 400;
        color: $brand-primary;
      }
    }
  }
}

.fh5co-heading {
  .heading {
    font-size: 50px;
    font-style: italic;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    @media screen and (max-width: $screen-sm) {
      font-size: 30px;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 40px;
      height: 2px;
      left: 50%;
      background: #fb6e14;
      margin-left: -20px;
    }
  }
  .sub-heading {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (max-width: $screen-sm) {
      font-size: 18px;
    }
  }
}

#fh5co-about {
  @include flex;
  @include flexwrap;
  background: #e8ecf1;
  width: 100%;
  z-index: 20;
  // padding: 5em 0;
  .fh5co-2col {
    width: 50%;
    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }
  }

  .fh5co-2col-inner {
    padding: 5em 0;
    width: 585px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: $screen-lg) {
      width: 485px;
    }
    @media screen and (max-width: $screen-md) {
      width: 375px;
    }
    @media screen and (max-width: $screen-sm) {
      // border: 1px solid red;
      // max-width: inherit!important;
      width: 100% !important;
      padding: 2em 0 3em 0;
    }
    &.left {
      float: right;
      @media screen and (max-width: $screen-sm) {
        float: none;
      }
    }
    &.right {
      float: left;
      @media screen and (max-width: $screen-sm) {
        float: none;
      }
    }
  }
}
.fh5co-grid {
  padding-left: 2em;
  @media screen and (max-width: $screen-sm) {
    padding-left: 0em;
  }
  .fh5co-grid-item {
    width: 50%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media screen and (max-width: $screen-sm) {
      height: 300px !important;
    }
    @media screen and (max-width: $screen-xs) {
      width: 100%;
      height: 200px !important;
    }
    // min-height: 300px;
  }
}
.fh5co-tabs-container {
  position: relative;
  .fh5co-tabs {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    &.fh5co-two {
      li {
        width: 50%;
      }
    }
    &.fh5co-three {
      li {
        width: 33.33%;
      }
    }
    &.fh5co-four {
      li {
        width: 25%;
      }
    }
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      float: left;
      @include inline-block;
      text-align: center;
      a {
        border-bottom: 1px solid #ccc;
        padding: 30px 0;
        float: left;
        width: 100%;
        display: block;
        letter-spacing: 2px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        color: #888;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          outline: none;
        }
      }
      &.active {
        a {
          color: $brand-primary;
          border-bottom: 1px solid $brand-primary;
        }
      }
      @media screen and (max-width: $screen-xs) {
        width: 100% !important;
      }
    }
  }
  .fh5co-tab-content {
    display: none;
    @include transition(0.5s);
    h2 {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.8;
      margin-bottom: 30px;
      color: darken(#949494, 10%);
    }
    &.active {
      display: block;
    }
    @media screen and (max-width: $screen-sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  @include transition(0.5s);
  &.active {
    opacity: 1;
    visibility: visible;
  }
  a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: $brand-white;
    text-align: center;
    @include border-radius(4px);
    i {
      height: 50px;
      display: table-cell;
      vertical-align: middle;
    }
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

#fh5co-services {
  position: relative;
  padding: 7em 0;
  @media screen and (max-width: $screen-sm) {
    padding: 5em 0 3em 0;
  }

  .fh5co-video {
    position: absolute;
    top: 0;
    width: 90px;
    height: 90px;
    left: 50%;
    margin-left: -45px;
    top: -45px;
    text-align: center;
    span {
      display: block;
      padding-top: 100px;
      font-size: 14px;
    }
    a {
      float: left;
      width: 90px;
      height: 90px;
      background: $brand-primary;
      color: $brand-white;
      @include border-radius(50%);
      display: table;
      -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
      -ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);

      i {
        padding-left: 10px;
        text-align: center;
        height: 90px;
        display: table-cell;
        vertical-align: middle;
        font-size: 40px;
        line-height: 40px;
      }
      &:hover {
        background: $brand-secondary;
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        outline: none;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }

  .service {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    padding: 40px 20px 20px 20px;
    background: $brand-white;
    border: 1px solid transparent;
    @include border-radius(5px);
    @include transition(0.5s);
    .icon {
      text-align: center;
      width: 100%;
      margin-bottom: 30px;

      i {
        font-size: 40px;
        color: $brand-secondary;
      }
    }
    h3 {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: darken($brand-primary, 20%);
    }
    &:hover,
    &:focus {
      border: 1px solid lighten($brand-black, 90%);
      -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
      -ms-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
    }
  }
}
.checked {
  padding: 0;
  margin: 0 0 30px 0;
  li {
    position: relative;
    list-style: none;
    padding-left: 40px;
    &:before {
      position: absolute;
      left: 0;
      top: 0.15em;
      font-size: 23px;
      color: $brand-secondary;
      @include icomoon;
      content: "\e116";
    }
  }
}

.fh5co-heading {
  margin-bottom: 30px;
  h2 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: lighten($brand-black, 30%);
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 2px;
      bottom: 0;
      left: 50%;
      margin-left: -25px;
      background: lighten($brand-black, 80%);
    }
  }
  p {
    font-size: 18px;
  }
}
#fh5co-team {
  clear: both;
  padding: 50px 0;
  background: darken($brand-white, 5%);
  @media screen and (max-width: $screen-sm) {
    padding: 2em 0;
  }

  .person {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    @include transition(0.5s);
    @include border-radius(5px);
    @media screen and (min-width: $screen-sm-max) {
      min-height: 560px;
    }
    background: $brand-white;

    img {
      width: 190px;
      margin: 0 auto 30px auto;
      @include border-radius(50%);
    }
    h3 {
      margin-bottom: 0;
    }
    h4 {
      color: lighten($brand-black, 60%);
      font-size: 16px;
    }
    p {
      margin-bottom: 0;
    }
    &:focus,
    &:hover {
      background: $brand-white;
      -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
      -ms-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
    }
  }
}

#fh5co-gallery {
  clear: both;
  float: left;
  width: 100%;
  .fh5co-item {
    display: block;
    position: relative;
    width: 25%;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    float: left;
    @include transition(0.5s);
    @media screen and (max-width: $screen-lg) {
      height: 200px;
    }
    @media screen and (max-width: $screen-sm) {
      width: 50%;
    }
    @media screen and (max-width: $screen-xs) {
      width: 100%;
    }

    .fh5co-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 0;
      background: $brand-primary;
      opacity: 0;
      visibility: hidden;
      @include transition(0.1s);
    }
    .fh5co-copy {
      z-index: 3;
      position: relative;
      height: 300px;
      display: table;
      text-align: center;
      width: 100%;
      @media screen and (max-width: $screen-lg) {
        height: 200px;
      }
      > .fh5co-copy-inner {
        width: 100%;
        height: 300px;
        display: table-cell;
        vertical-align: middle;
        @media screen and (max-width: $screen-lg) {
          height: 200px;
        }
        h2,
        h3 {
          margin: 0;
          padding: 0;
          color: $brand-white;
          opacity: 0;
          visibility: hidden;
          position: relative;
        }
        h2 {
          top: -10px;
          font-size: 20px;
          margin-bottom: 10px;
          @include transition(0.3s);
          position: relative;
        }
        h3 {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.7);
          @include transition(0.3s);
          position: relative;
          bottom: -10px;
        }
      }
    }
    &:hover,
    &:focus,
    &:active {
      background-size: cover;
      text-decoration: none;
      .fh5co-overlay {
        opacity: 0.8;
        visibility: visible;
      }
      .fh5co-copy-inner {
        h2,
        h3 {
          opacity: 1;
          visibility: visible;
        }
        h2 {
          top: 0;
        }
        h3 {
          bottom: 0;
        }
      }
    }
  }
}
#fh5co-contact {
  padding: 60px 0;
  @media screen and (max-width: $screen-sm) {
    padding: 2em 0;
  }
  .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e8ecf1;
    @include border-radius(0);
    &:active,
    &:focus {
      border-bottom: 1px solid $brand-primary;
    }
  }
  [type="submit"] {
    margin-top: 20px;
  }
  .hidder {
    display: none;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }

  .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loading-spinner {
    width: 50px;
    height: 50px;
  }

  .loading-spinner svg {
    position: relative;
    animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px;
  }

  .loading-spinner circle {
    stroke: $brand-primary;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  .js-success-message {
    color: $brand-primary;
    border-bottom: 1px solid $brand-primary;
  }
  .js-error-message {
    color: $brand-danger;
    border-bottom: 1px solid $brand-danger;
  }
}

#fh5co-footer {
  padding: 20px 0;
  background: #e8ecf1;
  -webkit-box-shadow: inset 0px 10px 21px -15px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 10px 21px -15px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 10px 21px -15px rgba(0, 0, 0, 0.12);
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .fh5co-social {
    float: right;
    text-align: left;
    margin: 0;
    @media screen and (max-width: $screen-sm) {
      float: left;
      text-align: left;
      padding: 0;
    }
    li {
      @include inline-block;
      a {
        padding: 0 10px;
        i {
          font-size: 18px;
        }
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}

#wedding-intro {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  div.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px 0;
    @media screen and (min-width: $screen-sm-max) {
      min-height: 500px;
    }
  }
  h1 {
    color: $brand-white;
    text-shadow: 1px 1px 2px transparentize($brand-black, 0.4);
    margin-bottom: 25px;
    &:after {
      background: $brand-white;
    }
  }
  p {
    color: $brand-white;
    text-shadow: 1px 1px 2px transparentize($brand-black, 0.4);
  }
}

#cta {
  text-align: center;
  padding: 60px 0;
  @media screen and (max-width: $screen-sm) {
    padding: 2em 0;
  }
}

#wedding-planner {
  padding: 60px 0;
  @media screen and (max-width: $screen-sm) {
    padding: 2em 0;
  }
  .social {
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      margin: 0;
      list-style: none;
      a {
        font-size: 22px;
        text-decoration: none;
        @media screen and (max-width: $screen-sm) {
          font-size: 17px;
        }
        span {
          padding-right: 10px;
        }
      }
    }
  }
}

#wedding-gift {
  padding: 60px 0;
  background: darken($brand-white, 5%);
  @media screen and (max-width: $screen-sm) {
    padding: 2em 0;
  }
  img {
    @include border-radius(2%);
  }
}

#wedding-directions {
  padding: 60px 0;
  background: darken($brand-white, 5%);
  @media screen and (max-width: $screen-sm) {
    padding: 2em 0;
  }
}

// Magnific Popup
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
#fh5co-container {
  background: $brand-white;
}
#fh5co-offcanvas,
#fh5co-container,
.fh5co-nav-toggle,
#fh5co-footer {
  @include transition(0.5s);
}
#fh5co-container,
.fh5co-nav-toggle,
#fh5co-footer {
  z-index: 2;
  position: relative;
}

#fh5co-offcanvas {
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  width: 275px;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.75em 1.25em;
  a {
    display: block;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 7px 0;
    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
      color: $brand-primary;
    }
    &.active {
      color: $brand-primary;
    }
  }
  @include fh5co-translate(-275px);
  @include transition(0.9s);
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
  .offcanvas-visible & {
    @include fh5co-translate(0px);
    @include transition(0.5s);
  }
}

#fh5co-container,
#fh5co-footer,
.fh5co-nav-toggle {
  @media screen and (max-width: $screen-sm) {
    @include fh5co-translate(0px);
  }
  .offcanvas-visible & {
    @include fh5co-translate(275px);
  }
}

.js-sticky {
  display: block;
  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

// Burger Menu
.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
  &.active i {
    &::before,
    &::after {
      background: $brand-white;
    }
  }
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: none !important;
  }
  i {
    position: relative;
    @include inline-block;
    width: 30px;
    height: 2px;
    color: $brand-white;
    font: bold 14px/0.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: $brand-white;
    transition: all 0.2s ease-out;
    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 2px;
      background: $brand-white;
      position: absolute;
      left: 0;
      @include transition(0.2s);
    }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
  background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  border-bottom: none !important;
  background: rgba(0, 0, 0, 0.7);
  padding: 0px 10px 10px 10px;
  cursor: pointer;
  @include border-radius(4px);
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}

.row-padded {
  padding-bottom: 40px;
}

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
  border: 10px solid red;
}
.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/Preloader_2.gif) center no-repeat #fff;
}
