<div id="fh5co-contact" data-section="contact">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      {{ with .Site.Params.contact }}
      <h1 class="heading">{{ .title }}</h1>
      <p>{{ .message | markdownify }}</p>
      {{ end }}
    </div>
    <form name="contact-form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <input
              type="text"
              class="form-control"
              id="inputName"
              placeholder="{{ .name_placeholder }}"
              name="name"
              required
            />
            {{ end }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              placeholder="{{ .email_placeholder }}"
              name="email"
              required
            />
            {{ end }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <select
              class="form-control"
              id="inputAttendance"
              name="attendance"
              required
            >
              <option value="" disabled selected
                >{{ .attendance_placeholder }}</option
              >
              <option value="yes">Ja </option>
              <option value="no">Nee</option>
            </select>
            {{ end }}
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <input
              type="text"
              class="form-control date"
              id="inputBirthday"
              placeholder="{{ .birthday_placeholder }}"
              name="birthday"
              autocomplete="off"
            />
            {{ end }}
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <select class="form-control" id="inputDiet" name="diet">
              <option disabled value="" selected
                >{{ .diet_placeholder }}</option
              >
              <option value="undefined">Geen</option>
              <option value="lactose">Lactose Intolerant</option>
              <option value="vegatarisch">Vegetarisch</option>
              <option value="vegan">Vegan</option>
              <option value="noten">Noten allergie</option>
              <option value="suiker">Diabetisch</option>
              <option value="gluten">Gluten Vrij</option>
              <option value="halal">Halal</option>
            </select>
            {{ end }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <select class="form-control" id="inputHotel" name="hotel" required>
              <option value="" disabled selected
                >{{ .hotel_placeholder }}</option
              >
              <option value="yes">Ja </option>
              <option value="no">Nee</option>
            </select>
            {{ end }}
          </div>
        </div>
        <div class="col-md-6 jsControl">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <select
              class="form-control"
              id="inputPersons"
              name="persons"
              required
            >
              <option value="" disabled selected
                >{{ .people_placeholder }}</option
              >
              <option value="0">Geen extra personen</option>
              <option value="1">1 extra persoon</option>
              <option value="2">2 extra personen</option>
              <option value="3">3 extra personen</option>
              <option value="4">4 extra personen</option>
              <option value="5">5 extra personen</option>
              <option value="6">6 extra personen</option>
            </select>
            {{ end }}
          </div>
        </div>
        <div class="col-md-6 hidder template">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <input
              type="text"
              class="form-control"
              id="inputNameTemplate"
              placeholder="{{ .names_extra_plcaeholder }}"
              name="namePerson"
            />
            {{ end }}
          </div>
        </div>
        <div class="col-md-3 hidder template">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <input
              type="text"
              class="form-control date"
              id="inputBirthdayTemplate"
              placeholder="{{ .birthday_extra_plcaeholder }}"
              name="birthdayPerson"
              autocomplete="off"
            />
            {{ end }}
          </div>
        </div>
        <div class="col-md-3 hidder template">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <select
              class="form-control"
              id="inputDietTemplate"
              name="dietPerson"
            >
              <option id="default" value="" disabled selected
                >{{ .diet_extra_placeholder }}</option
              >
              <option value="undefined">Geen</option>
              <option value="lactose">Lactose Intolerant</option>
              <option value="vegatarisch">Vegetarisch</option>
              <option value="vegan">Vegan</option>
              <option value="noten">Noten allergie</option>
              <option value="suiker">Diabetisch</option>
              <option value="gluten">Gluten Vrij</option>
              <option value="halal">Halal</option>
            </select>
            {{ end }}
          </div>
        </div>
        <div class="col-md-12" id="insertTemplate">
          <div class="form-group">
            {{ with .Site.Params.contact }}
            <textarea
              class="form-control"
              id="inputBody"
              cols="30"
              rows="5"
              placeholder="{{ .message_placeholder }}"
              name="message"
            ></textarea>
            {{ end }}
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary btn-outline"
              value="Send"
            >
              {{ with .Site.Params.contact }}{{ .button_text }}{{ end }}
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="loading js-loading hidden">
        <div class="loading-spinner">
          <svg>
            <circle
              cx="25"
              cy="25"
              r="20"
              fill="none"
              stroke-width="2"
              stroke-miterlimit="10"
            />
          </svg>
        </div>
      </div>
      {{ with .Site.Params.contact }}
      <p class="js-success-message hidden">{{ .sucess_text }}</p>
      <p class="js-error-message hidden">{{ .error_text }}</p>
      {{ end }}
    </div>
  </div>
</div>
