<div id="cta" data-section="cta">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="heading">{{ .Site.Params.cta.title }}</h1>
      <p>{{ .Site.Params.cta.text }}</p>
      <a href="#" data-nav-section="contact" class="btn btn-primary btn-outline fh5co-content-nav">
        {{ .Site.Params.cta.button }}
      </a>
    </div>
  </div>
</div>
