<div id="wedding-directions" data-section="directions">
  <div class="overlay">
    <div class="container">
      {{ with .Site.Params.directions }}
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="heading">{{ .title }}</h1>
          <p>{{ .text | markdownify}}</p>
        </div>
      </div>
        {{ range .location }}
          <div class="row">
            <div class="col-md-4">
              <h4>{{ .title }}</h4>
              <p>{{ .text | markdownify}}</p>
            </div>
            <div class="col-md-7 col-md-offset-1">
              <iframe src="{{ .iframeUrl }}" frameborder="0" height="450px" width="100%"></iframe>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
