<div id="fh5co-footer">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.footer }}
      <div class="col-md-6">
		<p>&copy; {{ now.Format "2006"}} {{ .note | markdownify }}</p>
      </div>
      <div class="col-md-6">
        <ul class="fh5co-social">
          {{ if isset . "github" }}
          <li>
            <a href="{{ .github }}"><i class="icon-github"></i></a>
          </li>
          {{ end }} {{ if isset . "twitter" }}
          <li>
            <a href="{{ .twitter }}"><i class="icon-twitter"></i></a>
          </li>
          {{ end }} {{ if isset . "facebook" }}
          <li>
            <a href="{{ .facebook }}"><i class="icon-facebook"></i></a>
          </li>
          {{ end }} {{ if isset . "linkedin" }}
          <li>
            <a href="{{ .linkedin }}"><i class="icon-linkedin"></i></a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>
