<div id="wedding-gift" data-section="gift">
  <div class="overlay">
    <div class="container">
      {{ with .Site.Params.gift_ideas }}
      <div class="col-md-8 col-md-offset-2">
        <h1 class="heading">{{ .title }}</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>{{ .text | markdownify}}</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <img src="{{ .img | absURL }}" alt="" class="img-responsive" />
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
