<div
  id="fh5co-home"
  class="js-fullheight-home"
  data-section="home"
  style="background-image: url({{ with .Site.Params.hero.img }}{{ . | absURL }}{{ end }});"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="js-fullheight-home fh5co-copy">
      <div class="js-fullheight-home fh5co-copy-inner">
        <h1 class="animated fadeInUp">
          Bruiloft
        </h1>
        <h1 class="animated delay-1s zoomIn">
          {{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}
        </h1>
      </div>
    </div>
    <div class="save-the-date">
      <h4>Save the date</h4>
      <span class="date">{{ with .Site.Params.hero.date }}{{ . | markdownify }}{{ end }}</span>
    </div>
  </div>
</div>
