<div
  id="wedding-intro"
  data-section="intro"
  style="background-image: url({{ with .Site.Params.intro.img }}{{ . | absURL }}{{ end }}); background-position-y: {{ .Site.Params.intro.offset }}"
>
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>{{ .Site.Params.intro.title }}</h1>
        <p>{{ .Site.Params.intro.text }}</p>
      </div>
    </div>
  </div>
</div>
