<div class="js-sticky">
  <div class="fh5co-main-nav">
    <div class="container">
      <div class="fh5co-menu-1">

	<a href="#" data-nav-section="home">{{ with .Site.Params.nav }}{{ if isset . "logo" }}<img src={{ .logo | absURL }} height="20" alt="">{{ end }}{{ if (not (isset . "logo")) }}Home{{ end }}{{ end }}</a>

	{{ if .Site.Params.cta.enable }}
	<a href="#" data-nav-section="cta">{{ with .Site.Params.nav.cta }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.intro.enable }}
	<a href="#" data-nav-section="intro">{{ with .Site.Params.nav.intro }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.gift_ideas.enable }}
	<a href="#" data-nav-section="gift">{{ with .Site.Params.nav.gift_ideas }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.wedding_planner.enable }}
	<a href="#" data-nav-section="planner">{{ with .Site.Params.nav.wedding_planner }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.mission.enable }}
	<a href="#" data-nav-section="mission">{{ with .Site.Params.nav.mission }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.services.enable }}
	<a href="#" data-nav-section="services">{{ with .Site.Params.nav.services }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.team.enable }}
	<a href="#" data-nav-section="team">{{ with .Site.Params.nav.team }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	<a href="#" data-nav-section="contact">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.directions.enable }}
	<a href="#" data-nav-section="directions">{{ with .Site.Params.nav.directions }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}
	
      </div>
    </div>
  </div>
</div>
