<div id="wedding-planner" data-section="planner">
  <div class="overlay">
    <div class="container">
      {{ with .Site.Params.wedding_planner }}
      <div class="col-md-8 col-md-offset-2">
        <h1 class="heading">{{ .title }}</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>{{ .text | markdownify}}</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <ul class="social">
            {{ if isset . "telephone" }}
            <li>
              <a href="tel:{{ .telephone }}"><span class="icon-phone"></span>{{ .telephone }}</a>
            </li>
            {{ end }} {{ if isset . "email" }}
            <li>
              <a href="mailto:{{ .email }}"><span class="icon-envelope"></span>{{ .email }}</a>
            </li>
            {{ end }} {{ if isset . "whatsapp" }}
            <li>
              <a href="https://wa.me/{{ .whatsapp }}"><span class="icon-whatsapp"></span>{{ .telephone }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
