<div id="fh5co-team" data-section="team">
  <div class="container equal">
    {{ with .Site.Params.team }}
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1 class="heading">{{ .title }}</h1>
      <p>{{ .description | markdownify }}</p>
    </div>
    {{ range .item }}
    <div class="col-md-4 col-xs-12">
      <div class="person">
        <img src="{{ .img | absURL }}" alt="" class="img-responsive" />
        <h3>{{ .name }}</h3>
        <h4>{{ .position }}</h4>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    {{ end }} {{ end }}
  </div>
</div>
<!-- END fh5co-team -->
