<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>

    <!-- Loader -->
    <div class="fh5co-loader"></div>
    <div class="fh5co-page">
      <div id="fh5co-container">
	
	{{ partial "hero.html" . }}
	
	{{ partial "nav.html" . }}

	{{ if .Site.Params.cta.enable }}
	{{ partial "cta.html" . }}
	{{ end }}

	{{ if .Site.Params.intro.enable }}
	{{ partial "intro.html" . }}
	{{ end }}

	{{ if .Site.Params.gift_ideas.enable }}
	{{ partial "gift.html" . }}
	{{ end }}

	{{ if .Site.Params.wedding_planner.enable }}
	{{ partial "planner.html" . }}
	{{ end }}

	{{ if .Site.Params.mission.enable }}
	{{ partial "mission.html" . }}
	{{ end }}
	
	{{ if .Site.Params.services.enable }}
	{{ partial "services.html" .}}
	{{ end }}
	
	{{ if .Site.Params.work.enable }}
	{{ partial "gallery.html" .}}
	{{ end }}
	
	{{ if .Site.Params.team.enable }}
	{{ partial "team.html" .}}
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	{{ partial "contact-form.html" .}}
	{{ end }}

	{{ if .Site.Params.directions.enable }}
	{{ partial "directions.html" .}}
	{{ end }}
	
	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" .}}
	{{ end }}
      
      </div>
    </div>
    
    {{ partial "js.html" .}}
    
  </body>
</html>
